.head-div {
  display: flex;
  justify-content: space-between;
  height:15vh;
}
.h1-header {
  font-family: Montserrat sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  padding: 2vw;
  padding-top: 4vh;
  font-weight: bold;
}
.intro-paragraph {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 48px;
  text-align: center;
  padding-top: 5vh;
  padding-right: 17vw;
  padding-left: 17vw;
  padding-bottom: 20vh;
  line-height: 81px;
  height: 70vh;
  
}
#toggleMenu {
  display: inline-block;
  margin-right: 30px;
  display: none;
}
div h3 {
  text-align: center;
  font-size: 48px;
}
#close-x {
  display: block;
  padding: 2vw;
  float: right;
}
.close-menu {
  align-content: center;
  font-size: 18px;
  padding: 0px 40px;
  cursor: pointer;
  margin: 40px 20px 40px 0px;
  border-radius: 8px;
  background-color: rgb(247, 240, 240);
}
.arrow-container {
  display: flex;
  justify-content: center;
  /* padding-bottom: 4vh; */
  height: 15vh;
}
.arrow-down {
  height: 8vh;
}
.second-section {
  display: flex;
  flex-direction: row;
}
.pictures {
  display: flex;
  flex-direction: row;
  width: 50vw;
  background-color: hsl(0, 0%, 100%);
  -webkit-transition: all 0.8got adds ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
.small-pic {
  width: 49vw;
  height: 53vh;
  flex-direction: row;
   -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
.footer {
  display: flex;
}
 
.transform:hover{
   border-radius: 15%;
}
.transform:hover .pictures{
   opacity: 0.7;
}
.transform:hover .pic-text{
  opacity: 1;
}
.pic-text{
opacity:0;
background-image: './images/small2-tradesy-mini.jpg'
}
.pic-text:hover{
display: block;
opacity: 1;
background-color: red;
}
.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.hidden {
  font-size: 16px;  
  margin: 0 auto;
  text-align: center;
  width: 40vw;
}
.about:hover {
  cursor: pointer;
}
.center {
  margin: 0 auto;
  width: 40vw;
}
