.h1-header {
  font-family: Montserrat sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  padding: 2vw;
  padding-top: 4vh;
  font-weight: bold;
}
.iframe-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
}
.video-holder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.intro-paragraph {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 48px;
  text-align: center;
  padding-top: 5vh;
  padding-right: 17vw;
  padding-left: 17vw;
  padding-bottom: 20vh;
  line-height: 81px;
}
#toggleMenu {
  display: inline-block;
  margin-right: 30px;
  display: none;
}
div h3 {
  text-align: center;
  font-size: 48px;
}
#close-x {
  display: block;
  padding: 2vw;
  float: right;
}
.head-div {
  display: flex;
  justify-content: space-between;
}

.close-menu {
  align-content: center;
  font-size: 18px;
  padding: 0px 40px;
  cursor: pointer;
  margin: 40px 20px 40px 0px;
  border-radius: 8px;
  background-color: rgb(247, 240, 240);
}
.arrow-container {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
}
.arrow-down {
  height: 8vh;
}
